.personal-center .m-port {
	width: 100%;
	height: 55px;
	overflow: hidden;
}
ul,li{margin:0;padding:0;}
li {list-style: none;}
.personal-center .m-port li {
	float: left;
	width: 50%;
}
.personal-center .m-port li img{
	width: 100%;
	height: 100%;
}
.mt12{
	margin-top:12px;
}
.personal-center .information {
	background: #fff;
	padding: 0 12px;
    box-sizing: border-box;
}
.personal-center .information li {
	border-bottom: solid 1px #eee;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
}
.personal-center .information li:nth-last-of-type(1) {
	border-bottom: none;
}
.personal-center .information li>i.li-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../../img/mine/li-icons.png) no-repeat;
	background-size: 16px auto;
	float: left;
	margin: 12px 8px 0 0;
}

.personal-center .information li>i.i-two {
	background-position: 0 -22px;
}
.personal-center .information li>i.i-three {
	background-position: 0 -44px;
}
.personal-center .information li>i.i-four {
	background-position: 0 -62px;
}
.personal-center .information li>i.i-five {
	background-position: 0 -82px;
}
.personal-center .information li>i.i-six {
	background-position: 0 -102px;
}
.personal-center .information li>i.i-seven {
	background-position: 0 -122px;
}
.personal-center .information li>i.i-eight {
	background-position: 0 -142px;
}
.personal-center .information li>span {
	color: #666;
	font-size: 13px;
	float: left;
}
.personal-center .information li>.li-tu {
	width: 6px;
	height: 11px;
	float: right;
}
.personal-center .information li>.li-tu img {
	width: 100%;
	height: 100%;
}

.personal-center .information .switch {
	width: 40px;
	height: 20px;
	background: #999;
	border: solid 1px #ccc;
	float: right;
	margin-top: 9px;
	border-radius: 15px;
	overflow: hidden;
}

.personal-center .information .switch>i {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	overflow: hidden;
	background: #fff;
	float: left;
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
}
.personal-center .information .switch-on {
	background: #3ca5b6;
}
.personal-center .information .switch-on>i{
	float: right;
}
