header {
	height: 44px;
	line-height: 42px;
	background: #3ca5b6;
	color: #fff;
	text-align: center;
}

header i {
	width: 9px;
    height: 15px;
    display: inline-block;
    background:url(../../img/header/arrow-lf.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 12px;
    top: 14px;
}


header ul li {
	width: 80px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: solid 1px #fff;
	font-size: 13px;
	border-right: none;
}
header ul li:nth-last-of-type(1) {
	border-right: solid 1px #fff;
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
header ul li:nth-of-type(1) {
	border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
header ul li.hover {
	background: #ffffff;
    color: #3ca5b6;
}

.nav-child {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	
}
.nav-child ul li {
	width: 33.33%;
	text-align: center;
	font-size: 13px;
	display: inline-block;
}
.nav-child ul li.hover {
	position: relative;
	color: #3ca5b6;
}
.nav-child ul li.hover:after {
	content: '';
	width: 48px;
	height: 3px;
	background: #3ca5b6;
	bottom: 0;
	left: 50%;
	margin-left: -24px;
	position: absolute;
}

.child-li {
	background: #fff;
	overflow: hidden;
	padding: 12px 10px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}
.child-li .ls-lf{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 100%;
	float: left;
	margin-right: 10px;
}
.child-li .ls-lf img {
	width: 100%;
	height: 100%;
}
.child-li .ls-rg {
	float: left;
}
.child-li .ls-rg h3 {
	margin: 0;
	font-size: 13px;
}
.child-li .ls-rg span {
	color: #999;
	font-size: 12px;
}
.content-wrapper >ul {
	display: none
}
.content-wrapper >ul.show-box{
	display: block;
}
.content-wrapper .one-wrapper ul {
	display: none;
}

.content-wrapper .one-wrapper ul.show{
	display: block;
}

.content-wrapper .one-wrapper ul li {
	overflow: hidden;
	padding: 12px 12px 0px 12px;
	margin-bottom:8px;
	background: #fff;
}

.content-wrapper .one-wrapper ul li:nth-of-type(1) {
	margin: 8px 0 8px;
}
.content-wrapper .one-wrapper ul li .li-tu{
	width: 70px;
	height: 70px;
	overflow: hidden;
	float: left;
}
.content-wrapper .one-wrapper ul li .li-tu img {
	width: 100%;
	height: 100%;
}
.content-wrapper .one-wrapper ul li  .li-wenzi{
	width: 76%;
	padding-left: 10px;
	box-sizing: border-box;
	float: left;
}
.content-wrapper .one-wrapper ul li  .li-wenzi p{
	margin:0 0 5px;
}
.content-wrapper .one-wrapper ul li  .li-wenzi p.p-title{
	overflow: hidden;
}
.sp-tit {
	float: left;
	font-size: 14px;
}
.sp-status{
	float: right;
	color: #999;
	font-size: 12px;
}
.blue {
	color: #3ca5b6;
}
.orange {
	color: #ffb940;
}
.content-wrapper .one-wrapper ul li  .li-wenzi p.p-ser {
	font-size: 12px;
}
.content-wrapper .one-wrapper ul li  .li-wenzi p.p-ser .sp-name {
	color: #666;
	margin-right: 8px;
	font-size: 13px;
}
.content-wrapper .one-wrapper ul li  .li-wenzi p.p-ser .sp-tm {
	color: #ff4040;
	font-size: 16px;
}
.content-wrapper .one-wrapper ul li  .li-wenzi p.p-ser .sp-tm >i {
	font-size: 12px;
	font-style: normal;
}
.content-wrapper .one-wrapper ul li  .li-wenzi p.p-time {
	color: #999;
	font-size: 12px;
}

.up-box {
	overflow: hidden;
	border-bottom: solid 1px #eee;
	padding-bottom: 10px;
}
.dw-box {
	display: flex;
	height: 36px;
	justify-content: space-between;
	align-items: center;
	display: none;
}
.btn-show{
	display: flex;
}
.dw-box .sp-look {
	font-size: 13px;
}
.dw-box .arrow-rg {
	width: 6px;
	height: 10px;
	display: block;
	background:url(../../img/order/arrow-rg.png) no-repeat;
	background-size: 100% 100%;
}
