.head{
	background: #3ca5b6;
	color: #fff;
	height: 44px;
	line-height: 44px;
	position: relative;
	text-align: center;
}
.head>i {
	width: 9px;
	height: 15px;
	display: inline-block;
	background: url(../../img/header/arrow-lf.png) no-repeat;
	background-size: 100% 100%;
    position: absolute;
    left: 12px;
    top: 14px;
}
